.container{
    height: 700px;
    width: 600px;
    border: 1px solid red;
    background-color: pink;

    /* To make container grid we have to set the display property grid */
    display: grid;
    /* To create row and column in grid we use grid-template-columns: grid-template-rows: property */
    /* grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; */

    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;

    grid-template-areas: 
    "hd"
    "side"
    "main"
    "ft"; */
    /* grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft"; */

    grid-gap: 10px;
    /* justify-content: start;
    justify-content: end;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content:space-around; */
    /* justify-content: space-evenly */

/* align-items: start; */
/* align-items: center; */
/* align-items: baseline; */

/* align-content: start; */
/* align-content: space-between; */
/* align-content: space-evenly; */
/* align-content: space-around; */
/* place-content: center; */
justify-content: center;
align-content: center;




    /* grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;

    grid-template-areas:  */
    /* "hd hd hd hd hd hd hd hd "
    "side side side main main main main main"
    "ft ft ft ft ft ft ft ft";  */
}

/* #header{
    grid-area: hd;
}

#footer{
    grid-area: ft;
}

#sidebar{
grid-area: side;
}

#content{
    grid-area: main;
} */

.box {
    border: 1px solid green;
    background-color: skyblue;
    /* height: 100px; */
    /* width: 100px; */
}

#header{
    /* justify-self: start;
    /* justify-self: center; */
    /* justify-self: end; */ 


    /* align-self:center; */
    /* align-self:self-end; */
    /* align-content:space-between; */
}